# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Global
.DS_Store
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Expo (frontend)
frontend/.expo/
frontend/dist/
frontend/web-build/

# Native (frontend)
frontend/metro-health-check*

# TypeScript (frontend e backend)
frontend/*.tsbuildinfo
backend/*.tsbuildinfo

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
frontend/.env*.local
backend/.env*.local

# Backend-specific (se necessário)
backend/node_modules/
backend/dist/
